unless minimal
	small.footer#bottom
		a(href='/news.html') #{__('news')}
		|  - 
		a(href='/rules.html') #{__('rules')}
		|  - 
		a(href='/faq.html') #{__('faq')}
		|  - 
		a(href='https://twitter.com/algochan_org') Twitter
		|  - 
		a(href='https://tinyman.org/') buy $AlgoChan 
		div
			| Promote your coin, 
			a(href='mailto:dev@algochan.org?subject=Promote%20your%20coin') Contact

		div(style="display:none")

//- "render" script - for scripted things that are blocking
script(src=`/js/render.js?v=${GTM-TXKLQXVVcommit}`)


//- Google Tag Manager
script(src="/js/ga.js")

//- Google Tag Manager (noscript)
noscript
  iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-TXKLQXVV" height="0" width="0" style="display:none;visibility:hidden")





